body {
    margin: 0;
}

.wrapper {
    margin: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightblue;
}

.cabecera {
    /* background-color: lightblue; */
    width: 100%;
}

.cuerpo {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(198, 227, 236);

}

img {
    margin: 10px;
    width: 600px;
    height: auto;
}

.fotos {
    margin: 0 10%;
}