body {
    color: rgb(56, 127, 243);
    text-align: center;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
}



/* al realizar esto no me salen los subrayados de los enlaces, los cuales no son necesarios al introducirlo como botones */
a {
    text-decoration: none;
    color: black;
}

.barra-lateral {
    display: flex;
    font-size: 20px;
    width: 10%;
    /* Ancho deseado para la barra lateral */
    background-color: #f0f0f0;
    /* Color de fondo de la barra lateral */
    padding: 20px;
    position: fixed;
    /* Fijar la barra lateral en su posición */
    top: 0%;
    left: 0;
    bottom: 0;
    /* Añadir desplazamiento vertical si el contenido es largo */
    overflow-y: auto;
    flex-direction: column;
    align-items: center;

}

.equipos {
    margin-right: 3%;
}