body {
    color: rgb(56, 127, 243);
    text-align: center;
    background-color: lightblue;
    background-size: cover;
    background-position: center;

}

.wrapper {
    display: flex;
    flex-direction: row;
}


h1 {
    text-align: center;
}



/* al realizar esto no me salen los subrayados de los enlaces, los cuales no son necesarios al introducirlo como botones */
a {
    text-decoration: none;
    color: black;
}

.barra-lateral {
    display: flex;
    font-size: 20px;
    width: 15%;
    /* Ancho deseado para la barra lateral */
    background-color: #f0f0f0;
    /* Color de fondo de la barra lateral */
    padding: 0.5em;
    /* Añadir desplazamiento vertical si el contenido es largo */
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    /* opacity: 40%; */
    color: black;
    list-style-type: none;
}

.cuerpo {
    /* así lo fuerzo a utilizar el 100% del ancho del div y no me genera huecos a los costados */
    width: 100%;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.listas {
    color: black;
}

footer {
    background-color: lightgrey;
    bottom: 0;
}

p {
    color: black;
}

table,
tr,
td,
th {
    color: black;
    border: 1px black solid;
}

.login {
    text-decoration: overline;
}

.d {
    color: purple;
}