/* si pongo el asterisco se imprime el title por pantalla */
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(234, 200, 200);
    display: flex;
    flex-direction: column;
}

p.cita {
    text-align: right;
}

.negrita {
    font-weight: bold;
}

.wrapper div {
    margin: 0 7rem 4rem;
    padding: 4%;
}

div.chiste1 {
    color: black;
    background-color: darkgrey;
    border: none;
    border-radius: 1em;
}

div.chiste2 {
    background-color: lightcoral;
    border: 4px solid black;
    border-radius: 1em;
}

div.chiste3 {
    color: white;
    background-color: darkblue;
    border: 2ex solid white;
    border-radius: 2em;
}

div.chiste3:hover {
    font-size: 25px;
    color: black;
    background-color: lightblue;
}


div.chiste4 {
    background-color: pink;
    border: 1em dashed;
    border-radius: 1em;
}

div.chiste5 {
    background-color: lightgreen;
    border: 1em double;
    border-radius: 1em;
}

div.chiste6 {
    background-color: lightsteelblue;
    border: 3ex ridge red;
    border-radius: 1em;
}

div.chiste7 {
    color: white;
    background-color: black;
    border: 2ex outset white;
    border-radius: 2em;
}

div.chiste8 {
    font-family: cursive;
    font-size: 23px;
    background-color: rgb(81, 174, 90);
    border: 2ex solid beige;
    border-radius: 1em;
}

div.chiste9 {
    background-color: yellow;
    border: 2em inset white;
    border-radius: 1.5em;
}

div.chiste10 {
    color: white;
    background-color: rgb(71, 5, 71);
    border: 0.5em solid white;
    border-radius: 1em;
}

div.chiste11 {
    background-color: slategray;
    border: 1em dotted black;
    border-radius: 1.8em;
}

div.chiste12 {
    background-color: lightsalmon;
    border: 2em outset lightblue;
    border-radius: 50%;
}

div.chiste12:hover {
    background-color: lightblue;
    border: 2em inset lightsalmon;
    border-radius: 50%;
}

div.chiste13 {
    background-color: white;
    border: 1ex hidden;
    border-radius: 1em;

}

div.chiste14 {
    background-color: transparent;
    border: 0.3em solid rgb(92, 142, 92);
    border-radius: 1em;
}

div.chiste15 {
    color: white;
    background-color: navy;
    border: 1em double white;
    border-radius: 50%;
}