* {
    color: blue !important;
    font-size: 1em;
}

p {
    color: green;
}

/* si pongo el !important, prioriza este */
p#micado {
    color: red !important;
}

p#micado {
    color: orange;
}

p {
    color: purple;
    font-size: 15;
}