body {
    background-image: url(./Imagenes/bg_huella.gif);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 701px;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.cabecera {
    height: 125px;
    width: 701px;
    background-image: url(./Imagenes/cabecera.gif);
}

.cabecera a {
    height: 125px;
    width: 252px;
    float: left;
}

.cabecera.limpia {
    clear: both;
}

.menu {
    width: 701px;
    display: flex;
    justify-content: start;
}

.menu li {
    display: inline-block;
}

.galeria {
    width: 701px;
    height: 242px;
}

.cuerpo {
    vertical-align: middle;
    align-content: center;
    background-color: white;
    width: 701px;
}

.contenidoConLateral {
    display: flex;
    flex-direction: row;
}

.contenido {
    float: left;
    width: 420px;
    text-align: left;
    font-size: 0.8em;
    padding: 40px 40px;

}

.lateral {
    margin: 40px 25px;
    font-size: 0.8em;
}

.redesSociales {
    margin-top: 50px;
}

.menu2 {
    width: 701px;
    display: flex;
    justify-content: start;
    background-color: #B9B1A8;
    justify-content: center;
}

.menu2 li {
    padding: 5px;
    display: inline-block;
}

.pie {
    text-align: center;
    font-size: 0.7em;
    color: #999;
}