body {
    padding: 0 15%;
}

.wrapper {
    font-family: sans-serif;
    background-color: rgb(177, 208, 243);
    text-align: left;
}


p.cabecera {
    text-align: right;
    font-size: 2em;
    font-weight: bold;

}

.titulo {
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
}

span.rojo {
    color: red;
}

span.subrayado {
    text-decoration: underline overline red;
}

span.gigante {
    font-style: italic;
    color: blue;
    font-size: 3em;
}

span.verde {
    color: green;
    background-color: white;
}